input[type="button"]
{
width:70px;
height:40px;
background-color:white;
color:black;
border-color:black;
}
input[type="text"]
{
height:40px;
text-align:end;
border-color:black;
}
div{
background-color:green;
padding:20px;
margin:100px;
width:300px;
border-radius:20px;
border-color:black;
border:solid;
}
h1{
color:white;
}
input[type="button"]:hover
{
background-color:#e6e6ff;
}